{% extends 'admin/indexadmin.html.twig' %}



{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Ecole</a>
        </li>
        <li class="breadcrumb-item active">Liste des ecoles</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"> La liste</i>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Description</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for ecole in ecoles %}
                        <tr>

                            <td>{{ ecole.id }}</td>
                            <td>{{ ecole.nom }}</td>
                            <td> {{ ecole.description }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}

